<ion-view title="Avaliação de Bares">
    <ion-content class="has-header" padding="true">
        <div>
            <img ng-src="img/image-2.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 style="text-align:center;">O que é?</h1>
        <div style="text-align:center;">
            <p>
                A expansão do setor gastronômico, ou alimentício, tem se mostrado cada vez mais forte, mesmo em meio à crise este setor continua a crescer. Com o intuito de proporcionar uma forma de procura por estabeleciomentos mais rápida, a aplicação tem como objetivo mostrar que há lugares com qualidade escondidos por diversos lugares e que são pouco valorizados, pelo fato de se estabelecerem em bairros próximos a periferias, ou ainda, por não possuírem divulgação.
            </p>
            <p>
                A aplicação, por sua vez, tem como objetivo listar para os usuários os estabelecimentos já cadastrados apresentandos em um mapa e qual sua média de pontuação avaliativa, podendo ir de zero a cinco, que será indicada pela avaliação feita pelo próprio usuário. Dessa forma, auxiliando na escolha da melhor opção de estabelecimento para a ocasião desejada.
            </p>
        </div>
        <p class="text-center padding-top">
            <a href="#/" class="button button-clear button-positive">Voltar</a>
        </p>
    </ion-content>
</ion-view>