<ion-view title="Avaliação de Bares">
    <ion-content class="has-header">
        <br />
        <div>
            <img ng-src="img/image-2.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 style="text-align:center;">Atendimento</h1>
        <div style="text-align:center;">
            <p>
                Com o intuito de proporcionar aos usuários que são donos de bares a oportunidade de terem seus estabelecimentos, seja ele de pequeno, médio ou grande porte, inseridos na nossa aplicação pedimos aos mesmos que entrem em contato conosco por meio de nosso e-mail. Nos envie um pequeno detalhamento com informações básicas como nome do estabelecimento, endereço e telefone para contato. 
            </p>
            <p>
                E-mail para contato: <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">tccavaliacaobares@gmail.com</a>
            </p>
        </div>
        <p class="text-center padding-top">
            <a ng-click="principal()" class="button button-clear button-positive">Voltar</a>
        </p>
    </ion-content>
</ion-view>