<ion-view view-title="Avaliação de Bares">
    <ion-content>
        <br />
        <div>
            <img ng-src="img/bar1600.png" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 style="text-align: center;">Cadastro de Bares</h1>
        <form ng-submit="cadastrarBar()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Nome</span>
                    <input type="text" ng-model="bar.nome">
                </label>
                <label class="item item-input">
                    <span class="input-label">Logradouro</span>
                    <input type="text" ng-model="endereco.logradouro">
                </label>
                <label class="item item-input">
                    <span class="input-label">Número</span>
                    <input type="text" ng-model="endereco.numero">
                </label>
                <label class="item item-input">
                    <span class="input-label">Bairro</span>
                    <input type="text" ng-model="endereco.bairro">
                </label>
                <label class="item item-input">
                    <span class="input-label">Cidade</span>
                    <input type="text" ng-model="endereco.cidade">
                </label>
            </div>
            <div class="padding-horizontal">
                <button class="button button-block button-positive">Cadastrar</button>
            </div>
        </form>
    </ion-content>
</ion-view>