<ion-view title="Avaliação de Bares" hide-back-button="true">
    <ion-content padding="true" class="has-header">
        <div>
            <img ng-src="img/image-2.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="citizenMap-heading1" style="color:#000000;text-align:center;">Bem Vindo ao Avaliação de Bares!</h1>
        <div id="citizenMap-markdown1" style="color:#000000;text-align:center;">
            <p>Avalie os bares de sua região!</p>
        </div>
        <a ui-sref="login" class="button button-positive  button-block">Acessar Agora!</a>
        <p class="text-center padding-top">
            <a href="#/forgot" class="button button-clear button-positive">O que é?</a>
    </ion-content>
</ion-view>